.logout-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 1rem;
  color: #00aaff;
  border-color: #00d8ff;
  background-color: #fff;
  box-shadow: 1px 0.5px 0.5px rgb(46, 45, 45);
}

.logout-btn:hover {
  color: #d40a0a;
  border-color: #d40a0a;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.2s;
  white-space: nowrap;
  z-index: 1;
}

.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
