.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 2rem;
}

.search-bar {
  width: 16rem;
  height: 2rem;
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
